@import url(base.css);
@import url(var.css);


/* Page 1 */

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* title */
.title{
    color: var(--Color-title);
    margin: 10% 0 7%;
}

/* main */
.main{
    width:55%;
    padding-right: 10%;
}

/* part 1 main */
.part-1-main{
    display: flex;
    gap: 5px;
    margin: 0 0 25px;
    width: 85%;
}

.font-bold{
    font-family: vazir-bold, serif;
    font-size: 15px;
}

.step{
    width: 125px;
    height: 15px;
    background: #bec3c7;
    margin-top: 5px;
    border-radius: 0 5px 5px 0 !important
}

.active{
    color: var(--Color-main-green);
}

.active .step{
    background-color: var(--Color-main-green);
}

/* part 2 main */
.part-2-main{
    margin: 0 0 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-part-2-main{
    display: flex;
    flex-direction: column;
}

.list-part-2-main .font-bold{
    color: var(--Color-main-green);
}

.lable-list-part-2>select{
    width: 85%;
    padding: 5px 6px 4px;
    border: var(--Color-main-gray) solid 1.5px;
    border-radius: 5px;
}

.divar{
    margin:20px 0 20px;
    width: 85%;
    background-color: #bec3c7;
    height: 1px;
}

.parent-btn{
    width: 85%;
    display: flex;
    justify-content: end;
}

.button-green{
    background-color: var(--Color-main-green);
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 7px 35px;
    font-size: 20px;
    line-height: 20px;
    transition: 0.5s;
}

/* ------------------------------- */

/* footer */
.footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px
}

.footer>h4{
    color: var(--Color-main-gray);
    font-weight: 300;
}
/* ----------------------------------------------------------- */

/* Page 2 */
.text-main{
    margin: 0 0 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.text{
    font-size: 14px;
    width: 85%;
}

.date{
    display: flex;
    gap: 10%;
}

/* ------------------------------------------------------------- */

/* Page 3 */
.display{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parent-btn-page-3{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    width: 60%;
}

.input-form{
  width: 150%;
  height: 30px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-green{
    color: var(--Color-main-green);
}

.btns{
    width: 100%;
}

/*MODAL*/
.base_modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.modal{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    width: 500px;
}
.part_1_modal{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: var(--Color-title);
    font-size: 14px;
    align-items: center;
}
.close-modal{
    text-shadow: 0 1px 0 #fff;
    color: var(--Color-title);
    background: none;
    box-sizing: border-box;
    float: left;
    border: 0;
    font-size: 21px;
    font-weight: 700;
}
.part_2_modal{
    padding-top: 15px;
    padding-right: 15px;
    font-size: 14px;
    height: 40vh;
}
.input_modal{
    width: 95% !important;
}
.footer_modal{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn-modal{
    padding: 6px 12px !important;
    font-size: 14px;

}
.show {
  opacity: 1;
  pointer-events: auto;
}

/* ----------------------------------------------------------- */

/* Page 4 */

.payment-part{
    cursor: pointer
}


/* ----------------------------------------------------------- */

/* Page 5 */

.title-page5{
    color: var(--Color-title);
    margin: 5% 0 -5%;
}