<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Baraato
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='company/baraato/css/style.css')}}">
    <link type="text/css" rel="stylesheet"
          href="{{url_for('static', filename='company/date-picker/dist/jalalidatepicker.css')}}"/>
</head>
<body>
<!-- Page 1 -->
<div class="page">

    <!-- title -->
    <div class="title">
        <h2>
            {% block titre %}
            برای رزرو نوبت مراحل زیر را انجام دهید
            {% endblock %}
        </h2>
    </div>

    <!-- main -->
    <div class="main">
        <div class="part-1-main">
            <div class="active">
                <p class="font-bold">1. آرایشگاه</p>
                <div class="step"></div>
            </div>
            <div class="{% block part_2_time %}{% endblock %}">
                <p class="font-bold">2. زمان</p>
                <div class="step"></div>
            </div>
            <div class="{% block part_3_description %}{% endblock %}">
                <p class="font-bold">3. جزئیات</p>
                <div class="step"></div>
            </div>
            <div class="{% block part_4_payment %}{% endblock %}">
                <p class="font-bold">4. پرداخت</p>
                <div class="step"></div>
            </div>
            <div class="{% block part_5_end %}{% endblock %}">
                <p class="font-bold">5. تمام</p>
                <div class="step"></div>
            </div>
        </div>

        {% block main %}

        {% endblock %}
    </div>

    <!-- footer -->
    <div class="footer">
        <h4>
            پشتیبانی : 09146903072
        </h4>
        <a href="https://trustseal.enamad.ir/?id=452101&Code=Yx8ypo8gEgAes3tUH35kFMRiihVNUyM8">
            <img referrerpolicy="origin" src="{{url_for('static', filename='company/baraato/img/enamad.png')}}" alt=""
                 style="cursor:pointer" code="Yx8ypo8gEgAes3tUH35kFMRiihVNUyM8">
        </a>
    </div>
</div>


<!-- script -->
<script type="text/javascript" src="{{url_for('static', filename='company/date-picker/dist/jalalidatepicker.js')}}"></script>
<script src="{{url_for('static', filename='company/baraato/js/script.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
        integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block script %}

{% endblock %}
</body>
</html>