{% extends 'baraato/base.html' %}
{% load static %}

{% block titre %}
رزرو موفق
{% endblock %}

{% block part_2_time %}
    active
{% endblock %}
{% block part_3_description %}
    active
{% endblock %}
{% block part_4_payment %}
    active
{% endblock %}
{% block part_5_end %}
	active
{% endblock %}

{% block main %}
	<div class="main">
            <div class="part-2-main">
                <div class="title-part-2-main font-bold">رزرو شما با موفقیت انجام شد. پیامی به شما همراه با جزئیات ارسال شد.</div>
            </div>
        </div>
{% endblock %}